# Environments
.env
.venv
env/
venv/

# Credentials / Secrets
client_secrets.json
client_secret.json
credentials.json
token.json

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# OS Files
.DS_Store
Thumbs.db
